@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

html,
body,
#root {
  height: 100%;
}
